<p>create-first-group works!</p>
<!-- Template driven: https://ultimatecourses.com/blog/angular-2-forms-template-driven -->
<!-- Reactive driven: https://ultimatecourses.com/blog/angular-2-forms-reactive -->
<ng-container class="dashboard__group-content-inner">
	<!-- Entry point: Enter name! -->
	<form #enterNameForm="ngForm" *ngIf="state == UIState.EnterName">
		<div class="dashboard__group-new-form flex flex-col place-content-center space-y-5 align-middle">
			<div class="dashboard__group-new-form-label">What is your group's name?</div>
			<div class="dashboard__friends-empty-add-new place-self-center">
				<input type="text" class="form-control" id="name" required placeholder="Enter name..."
					[(ngModel)]="object.templateGroup.name" name="name" #enterGroupNameInput>
				<div *ngIf="!validator.pass" class="dashboard__group-empty-new-form__two-input__warning input_warning">
					{{
					validator.error.msg }}</div>
			</div>
			<div class="row animated fadeIn" ng-show="object.templateGroup.name != ''">
				<div
					class="animated fadeInLeft dashboard__group-empty-add-new-context flex flex-col place-items-center">
					<button (click)="selectName()" type="submit" id="new_group"
						class="bg-cyan-500 rounded py-2 px-3 text-white cyan-button"
						[ngClass]="{'btn-disabled': object.templateGroup.name == ''}"
						[disabled]="object.templateGroup.name == ''">
						Start Sharing!
					</button>
				</div>
				<div (click)="joinInstead()" class="text-cyan-500 cyan-title mt-2">
					Or join an existing splitgroup!
				</div>
			</div>
		</div>
	</form>
	<!-- Join group instead (from friends) -->
	<form #joinGroupForm="ngForm" *ngIf="state == UIState.SearchGroups">
		<!-- Insert code -->
		<div>
			<!-- Input -->
			<input type="text" class="form-control dashboard__search_group-input" id="name" required
				placeholder="Enter Group ID..." (keyup)="addMember__onInput" [(ngModel)]="object.templateMember.name"
				name="name" #name="ngModel" #joinGroupInput>
			<!-- Cancel -->
			<div (click)="cancelJoining()" class="text-cyan-500 cyan-title mt-2">
				Back
			</div>
		</div>
	</form>
	<!-- Add members -->
	<form #addMemberForm="ngForm" *ngIf="state == UIState.AddMembers">
		<div class="dashboard__group-empty-new-form__two flex flex-col place-content-center items-center space-y-5">
			<div class="dashboard__group-addMember__title"></div>
			<div class="dashboard__group-empty-new-form__two-label">{{object.templateGroup.name}}</div>
			<div class="dashboard__group-empty-new-form__two-label">Add the members of your group!</div>
			<div class="place-self-center dashboard__group-empty-new-form-container" (focusout)="addMember__loseFocus()"
				tabindex="-1"> <!-- flex flex-col -->
				<!-- Input -->
				<input type="text" class="form-control dashboard__group-empty-new-form__two-input" id="name" required
					placeholder="Name or Email" (keyup)="addMember__onInput()" [(ngModel)]="object.templateString"
					name="name" #name="ngModel" #friendNameInput>
				<!-- Context -->
				<div class="dashboard__group-empty-new-form__two-context" [ngClass]="{'highlight': name.value}">
					<!-- Search for friends -->
					<!-- Create a non-user from name -->
					<div (click)="addMember__nonUser()" class="suggestion-row"
						*ngIf="name.value && addMember_nonUserNamePass">
						<p>Add {{name.value}}</p>
					</div>
					<!-- By Email, ID, or friend's name-->
					<div *ngFor="let result of searchResult_friends; index as i" (click)="addMember__friend(result.id)"
						class="suggestion-row">
						<p class="text-sky-500">Add {{result.name}} - {{i}}</p>
					</div>
				</div>
				<!-- Warning -->
				<div *ngIf="!validator.pass"
					class="dashboard__group-empty-new-form__two-input__warning input_warning mt-1">
					{{
					validator.error.msg }}</div>
			</div>
			<!-- <div>
			Invite users from facebook!
		</div>
		<div>Add {{groupForm2.form.name.text}}</div>
		<div>Add email {{groupForm2.form.name.text}}</div>
		<div *ngFor="let result of friendSearchResults">

		</div> -->
			<!-- Current Member List -->
			<div class="dashboard__group-empty-new-form__member-list">
				<!-- Users -->
				<tbody>
					<tr *ngFor="let member of object.templateGroup.users;let i = index">
						<td>
							<div id="member-{{i}}" class="member-row items-center px-1 flex place-content-between">
								<ng-container *ngIf="member.id > -1">
									<div class="member-row-text is_member user-link">{{member.name}} {{i}}</div>
									<!-- routerlink="" target="_blank"-->
									<div id="member-del-{{i}}" class="member-row-del" (click)="removeMember(i)">
									</div>
								</ng-container>
							</div>
						</td>
					</tr>
					<!-- SimpleUser -->
					<tr *ngFor="let member of object.templateGroup.simpleUsers;let i = index">
						<td>
							<div id="member-{{i}}" class="member-row items-center px-1 flex place-content-between">
								<ng-container *ngIf="member.tempId > -1">
									<div class="member-row-text is_member user-link">{{member.name}}</div>
									<!-- routerlink="" target="_blank"-->
									<div id="member-del-{{i}}" class="member-row-del" (click)="removeNonUser(i)">
									</div>
								</ng-container>
							</div>
						</td>
					</tr>
				</tbody>
			</div>
			<!-- Create group button -->
			<div>
				<button (click)="createGroup()" type="submit"
					class="bg-cyan-500 rounded py-2 px-3 text-white cyan-button">
					<!--  [ngClass]="{'btn-disabled': friends.length == 0}"  -->
					Create group!
				</button>
			</div>
		</div>
	</form>
	<!-- Are you sure you want to build an empty group? -->
	<form #emptyGroupDialogue="ngForm" class="dashboard__group-new-form-empty py-7 px-4 rounded-sm"
		*ngIf="state == UIState.EmptyGroupDialogue">
		<div>
			Are you sure you want to create an empty group?
		</div>
		<div class="flex flex-row place-content-center items-center">
			<button (click)="emptyGroupDialogue__Yes()" type="submit"
				class="bg-cyan-500 rounded py-2 px-3 text-white cyan-button">
				Yes
			</button>
			<button (click)="emptyGroupDialogue__No()" type="submit"
				class="bg-cyan-500 rounded py-2 px-3 text-white cyan-button">
				Cancel
			</button>
		</div>
	</form>
	<!-- Group Created! -->
	<form #groupCreatedDialogue="ngForm" class="dashboard__group-create-success">
		<div *ngIf="state == UIState.Created">
			Congratulations! Your group has been created!
			{{ object.templateGroup | json}}
		</div>
		<div>
			<div class="dashboard__group-empty-new-form__member-list">
				<!-- Users -->
				<tr *ngFor="let member of object.templateGroup.users;let i = index">
					<td>
						<div id="member-{{i}}" class="member-row items-center px-1 flex place-content-between">
							<ng-container *ngIf="member.id > -1">
								<div class="member-row-text is_member user-link">{{member.name}} {{i}}</div>
								<!-- routerlink="" target="_blank"-->
								<div id="member-del-{{i}}" class="member-row-del" (click)="removeMember(i)">
								</div>
							</ng-container>
						</div>
					</td>
				</tr>
				<!-- SimpleUser -->
				<tr *ngFor="let member of object.templateGroup.simpleUsers;let i = index">
					<td>
						<div id="member-{{i}}" class="member-row items-center px-1 flex place-content-between">
							<ng-container *ngIf="member.tempId > -1">
								<div class="member-row-text is_member user-link">{{member.name}}</div>
								<!-- routerlink="" target="_blank"-->
								<div id="member-del-{{i}}" class="member-row-del" (click)="removeNonUser(i)">
								</div>
							</ng-container>
						</div>
					</td>
				</tr>
			</div>
		</div>
	</form>
	<!-- Error Dialogue -->
	<form #errorDialogue="ngForm" class="error_dialouge">

	</form>
</ng-container>