<p>groupbar works!</p>

<div class="dashboard__group-bar flex flex-col">
	<!-- === Title === -->
	<div class="dashboard__group-title">Groups</div>
	<!-- === Content === -->
	<div class="dashboard__group-content flex flex-col place-content-around items-center">
		<!-- --- Create Section --- -->
		<app-create-group></app-create-group>
		<!-- --- Groups Section --- -->
		<app-create-first-group></app-create-first-group>

		<!-- --- Transaction Section --- -->
		<app-transactions></app-transactions>
	</div>

	<div class="dashboard__alerts">

	</div>
</div>