<div class="dashboard-page flex">
	<div class="person-bar flex flex-col items-center">
		<div><p>{{ person.name }}</p></div>

		<div class="friends-label place-content-center grid grid-flow-row">
			...
		</div>
		<div class="friends-container place-content-center grid grid-flow-row">
			<div *ngIf="n_friends > 0; then list_friends else empty_friends"></div>
			<ng-template #list_friends>
				<p>At least one group</p>
				<div *ngFor="let friend in friends">
					<div class="friend-item">{{friend.name}}</div>
				</div>
			</ng-template>
			<ng-template #empty_friends><p>Add a friend!</p></ng-template>
		</div>
		<div class="recent-friend-label" *ngIf="n_friends > 0">
			...
		</div>
	</div>
	<div class="group-bar flex flex-col place-content-center items-center">
		<div *ngIf="n_groups > 0; then list_groups else empty_groups"></div>
		<ng-template #list_groups>
			<div><p>At least one group</p></div>
		</ng-template>
		<ng-template #empty_groups>
			<div><p>No groups</p></div>
		</ng-template>
		
		<div class="new-group-button">
			<button mat-fab extended>
				New
			</button>
		</div>

		<div>
			No groups yet...
		</div>
	</div>
	<div class="balance-bar flex-col" [ngClass]="{'red': person.balance > 0, 'green': person.balance < 0, 'grey': person.balance == 0}">
		Balance: {{ person.balance | accountingFormat }}
	</div>
</div>
<!-- <router-outlet></router-outlet> -->